.background {
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  height: 70vh;
}

.child {
}

.bob {
  margin: 5vh !important;
  margin-top: 0;
  height: 60vh;
  overflow: scroll;
  font-size: 20px;
}

@media (max-width: 560px) {
  .background {
    padding: 0 !important;
    padding-bottom: 0 !important;
  }

  .bob {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 80vh;
  }
}
