i {
  color: black;
}

.socialimg {
  height: 35px;
  width: 35px;
  margin: 10px;
}

.custombar {
  justify-content: center;

  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
