.lowimage {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 250px;
  object-fit: cover;
}

.individualcard {
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #ffef9c;
  text-align: center;
}
