.clearButton {
  float: right;
  margin-bottom: 8px;
}

.whiteBody {
  background-color: white;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding-top: 10px;
  -webkit-box-shadow: 0px -1px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 21px 0px rgba(0, 0, 0, 0.75);
}

.formTitle {
  font-size: 50px;
}

.formTitleContainer {
  text-align: center;
}
body {
  background-color: whitesmoke !important;
}
