#navynavy {
  color: black;
  background-color: white;
  opacity: 0.9;
  text-align: center;
}

.logo {
  width: 65px;
  height: 65px;
  margin-top: 8px;
}

* {
  font-style: none !important;

  text-decoration: none !important;
}
