* {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
}
body {
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

.test {
  padding: 0 !important;
  margin: 0 !important;
}
